.pd-top-1
{
  padding-top: 100px;
}
.pd-top-2
{
  padding-top: 50px;
}
.pd-top-3
{
  padding-top: 20px;
}
.pd-reset-button
{
  padding-top: 20px;
  padding-left: 1230px;
}
.pd-launch-button
{
  padding-top: 20px;
  padding-left: 570px;
}
.pd-launch-cancel
{
  padding-top: 20px;
  padding-left: 600px;
}
.pd-date-title
{
  padding-left: 90px;
}
.pd-date-from
{
  padding-left: 90px;
}
.pd-date-to
{
  padding-top: 20px;
  /*padding-left: 90px;*/
}
.faq-answer-left-margin
{
  margin-left: 10px;
}
.page-title
{
  text-align: center;
}
.al-left
{
  align-self: center;
}